<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartlab">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>



    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_name"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".control.AirPurifierActivity" />
        <activity android:name=".control.HumidifierActivity" />
        <activity android:name=".control.WaterPurifierActivity" />
        <activity android:name=".login.RefindPwdActivity" />
        <activity android:name=".bluetooth.BtConnectActivity" />
        <activity android:name=".bluetooth.BtTestActivity" />
        <activity android:name=".mqtt.TestMqttActivity"/>
        <activity android:name=".bluetooth.BTConnectActivity1" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTask" /> <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
        android:name=".wxapi.WXEntryActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/NoTitleTranslucent80Theme"/>
    </application>

</manifest>