<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartlab">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.smartlab.control.AirPurifierActivity" />
        <activity android:name="com.smartlab.control.HumidifierActivity" />
        <activity android:name="com.smartlab.control.WaterPurifierActivity" />
        <activity android:name="com.smartlab.login.RefindPwdActivity" />
        <activity android:name="com.smartlab.bluetooth.BtConnectActivity" />
        <activity android:name="com.smartlab.bluetooth.BtTestActivity" />
        <activity android:name="com.smartlab.mqtt.TestMqttActivity" />
        <activity android:name="com.smartlab.bluetooth.BTConnectActivity1" />
        <activity android:name="com.smartlab.base.BaseActivity" />
        <activity android:name="com.smartlab.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartlab.home.MainActivity"
            android:launchMode="singleTask" /> <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>